<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Номер столика</th>
        <th>Кол-во мест</th>
        <th>Время</th>
        <th>Занятость</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="table : ${table}" th:style="${table.isAvailable()} ? 'background-color: PaleGreen;' : 'background-color: LightSalmon;'">
        <td th:text="${table.getId()}"></td>
        <td th:text="${table.getCapacity()}"></td>
        <td th:text="${table.getTime()}"></td>
        <td th:text="${table.isAvailable()} ? 'Свободен' : 'Занят'"></td>
    </tr>
    </tbody>
</table>

<br/>
<hr/>

</body>
</html>