<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="'Номер столика: '+${table.getId()}">VALUE</p>
</hl>
<p th:text="'Время: '+${ table.getTime()}">VALUE</p>
</hl>
<p th:text="'Кол-во мест: '+${ table.getCapacity()}">VALUE</p>
</hl>
<p th:text="${table.isAvailable()} ? 'Свободен' : 'Занят'">VALUE</p>
</hl>


<a th:href="@{/table/{id}/edit(id=${table.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/table/{id}(id=${table.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>